<div class="container" id="about">
    <div class="col-xs-12">
        <div class="about d-flex ">
            <div class="about__photo">
                <img src="../img/artist.png" alt="photo" class="img-fluid">
            </div>
            <div class="about__desc">
                <h1 class="text-center">About</h1>
                <br>
                <p>Hi there, I’m Mais. I’m a designer, illustrator, and letterer who channels my whimsical side into
                    delightful illustrations. I bring my designs to life through digital magic and striking color
                    palettes.</p>
                <br>
                <p>I've always had a fascination with the contrasts of nature and technology, and having
                    a bit of an over-active imagination, it's led me to love both traditional and digital arts to
                    explore where the creative process takes the drawing. I like to have some fun and mischief with my
                    drawings to keep them open-ended, inviting you to add your own story (which I always love to hear
                    about).</p>

            </div>
        </div>
    </div>
</div>