
    <div class="contact" id="contact">
        <div class="contact-title">
            <h3>CONTACT</h3>
            <h1>Contact With Me</h1>
        </div>
        <div class="contact-content">
            <div class="contact-left">
                <div class="find-me">
                    <div class="find-me__item">
                        <a href="https://t.me/vvknyazev" target="_blank">
                            <i class="fa-brands fa-telegram"></i><br> @vv.knyazev
                        </a>
                    </div>
                    <div class="find-me__item">
                        <a href="mailto:knyazev.vlad03@gmail.com">
                            <i class="fa-solid fa-envelope"></i><br> knyazev.vlad03@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-right">
                <div class="input-data">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn">Send message</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
    </div>