<div class="corner-right">
    <div class="d-flex justify-content-center mt-4 w-100">
        <a href="/auth/login" class="btn btn-primary">Login</a>
    </div>
</div>
<div class="corner-left">
    <div class="d-flex justify-content-center mt-4 w-100">
        <a href="/">Back To The Site</a>
    </div>
</div>
<div class="contrainer">
    <div class="col-xs-12 d-flex justify-content-center vh-100 flex-column">
        <div class="row align-self-center">
            <h2 class="text-center">Registration</h2>
            <form action="/auth/registration" method="POST">
                <div class="m-4">
                    <label class="form-label fw-bold font-monospace m-2">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="m-4">
                    <label class="form-label fw-bold font-monospace m-2">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>
        </div>
        {{#if message}}
            <div class="text-center auth-message">
                <h4 class="alert {{color}} mt-4">{{message}}</h4>
            </div>
        {{/if}}
    </div>

</div>
